<div style="
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 24px 20px;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', 'Yu Gothic', Meiryo, sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
">

<p style="text-align:center; margin-bottom: 28px;">
  <img src="https://tibsocpjqvxxipszbwui.supabase.co/storage/v1/object/public/assets//logo.png" alt="チームみらいアクションボード" style="width:100px;height:83px;margin:0 auto;">
</p>

<h2 style="margin-bottom: 28px;">「チームみらい」アクションボードに登録いただきありがとうございます</h2>

<p style="margin-bottom: 28px;">
    「チームみらい」ボランティアへの応募者様

    ※本メールは送信専用のため、返信を承ることができません。ご意見につきましては、お手数ですがお問合せフォームよりお送りいただけますと幸いです。


    このたびはボランティアへのご協力のお申し出、誠にありがとうございます。

    ボランティアとしてお手伝いいただきたいことは、今後順次増えていく見込みです。お手伝いいただきたいことが出てきましたら、随時メールにてご連絡させていただきます。

    なお、ご希望いただいた内容すべてを必ずお願いできるとは限りませんこと、あらかじめご了承いただけますと幸いです。
    また、18歳未満の方にはお手伝いいただけませんので、あわせてご理解のほどお願いいたします。


    以下に、現時点でお願いさせていただきたいこと・ご案内をまとめさせていただきます。

    （１）オープンチャットへのご参加のお願い
    ボランティアの皆さまの相互交流を目的としたオープンチャットをご用意しております。
    よろしければ以下のURLよりご参加ください。（参加・退出は任意です）
    https://line.me/ti/g2/mAAxGc7wQo2JXptSfrBir_c1TOZ4cyjdup-fUQ


    （２）公式アカウントの登録のお願い
    「チームみらい」LINE公式アカウントでも、随時ご協力いただきたい内容などを発信しております。
    あわせてご登録いただけますと幸いです。
    https://lin.ee/UdWM8yo

    （３）「安野たかひろとボランティアの皆さまの交流会」のご案内
    チームみらいを応援いただいている皆さまと、安野たかひろとの交流会を開催いたします。
    ■日時：
    ・5/17(土) 13:00-16:00 @東京
    ・5/24(土) 13:00-16:00 @東京
    ・5/25(日) 13:00-16:00 @大阪

    ■場所：
    ・@東京：DMZ築地 6階カフェスペース（東京メトロ日比谷線 築地駅 徒歩 1分、有楽町線 新富町駅 徒歩 4分）
    ・@大阪：【現在調整中】
    ※各回でオンライン参加も可能です。オンライン参加の場合でも下記の参加登録フォームからのご登録をお願いします。

    ■内容（予定）：
    ・安野たかひろからのご挨拶
    ・安野たかひろからの「チームみらい」設立への思いや活動・政策等の説明と対話
    ・AIを使った「みらいいどばた会議」のお試しタイム
    ・その他、交流・記念撮影など

    ■ご確認いただきたいこと
    ・当日はAIを使ったツールをご紹介、お試し利用いただく時間を設ける予定です。そのため、可能な範囲でスマートフォンまたはパソコン(PC)をご持参いただけますと幸いです。（スマホやパソコンなしでもご参加いただけます。）
    ・参加登録者が多数の場合には、開催日に先んじて参加登録を締め切らせて頂く場合がありますのでご了承ください。
    ・内容は予告なく変更になることがあります。ご了承ください。
    ※その他、参加登録フォームの記載をご確認頂いたうえでご登録ください。

    交流会に足を運んでいただくだけで大変ありがたいです。ぜひお気軽にご参加ください。
    ★参加登録フォームはこちら ⇒ https://forms.gle/LfFHYCFH5MpZQnBB6



    改めまして、この度は誠にありがとうございます。
    引き続き、どうぞよろしくお願いいたします。


    「チームみらい」選挙対策本部スタッフ
</p>

<!-- Footer -->
<hr style="border-top:1px solid #eaeaea;margin:26px 0;width:100%;color:#eaeaea">

<div style="font-size:12px;color:#666;margin-top:20px;">
  <p>チームみらいアクションボード<br/>
  <a href="https://action.team-mir.ai/">https://action.team-mir.ai/</a></p>
  
  <p>チームみらい<br/>
  <a href="https://team-mir.ai/">https://team-mir.ai/</a></p>

  <p>© 2025 Team Mirai</p>
</div> 

</div>